doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name="description" content="Convert RSS Feed into JSON using RSS Feed API from Complete Javascript's Public APIs")
    meta(name="keywords" content="public api, json feed, rss feed to json, rss feed")
    title JSON Feed API Demo - Complete JavaScript
    link(rel="stylesheet" href="/styles/primitive.css")
    link(rel="stylesheet" href="/styles/json-feed.css")
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-96543695-12")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-96543695-12');
  body  
    div(id="root" class="container medium-container" host=`${HOST}`)
      header
        h1 JSON Feed API Demo
        p.
          This demo converts RSS Feed into JSON using #[a(href=`${HOST}/#tag/JSON-feed`) RSS Feed API] from  #[a(href="https://completejavascript.com/") Complete Javascript]. 
          Then it renders the JSON into collapsible HTML using #[a(href="https://caldwell.github.io/renderjson/") Renderjson].
      main
        section
          hr
          form
            label(for="inp-url") RSS Feed URL
            input(id="inp-url" type="text" placeholder="Enter a RSS feed url..." required)
            label(for="full-req") Full Request URL
            p(id="full-req")
            button(id="btn-fetch" class="muted-button") Fetch
        
        section
          hr
          label View raw JSON as text
          textarea(name="" id="txt-area" cols="30" rows="20" class="margin-bottom")
        
        section
          hr
          label View pretty JSON as HTML
          div(id="json-html")
      
      footer
        hr
        p.
          Made with ❤️ by: #[a(href="https://completejavascript.com") Complete Javascript].
          Unless otherwise noted, all code is free to use under the MIT License.

  script(src="https://cdn.jsdelivr.net/npm/renderjson@1.4.0/renderjson.min.js")
  script(src="/scripts/json-feed.js")
